/* Import base styles */
@import "base";

/* Import button styles */
@import "button";

/* Import type styles */
@import "type";

/* Import dark styles */
@import "dark";

/* Import icons styles */
@import "icons";

/* General styles */
.header-right p {
  margin-bottom: 3px;
}

.header-right a {
  color: inherit;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .header-container div {
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

/* Profile image styles */
.profile-img {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  margin: 20px auto 10px; /* Margin adjusted for positioning */
  display: block;
  border-radius: 50%; /* Ensure the image is round */
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 20px #636161;
}

/* Icon bar at the top */
.header-container {
  padding: 20px 0;
  background-color: #fff; /* Set white background */
  text-align: center; /* Align text and icons to the center */
}

.icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Ensure icons are aligned horizontally */
  align-items: center; /* Center icons vertically within the container */
  justify-content: center; /* Align icons from left to right */
  width: 100%; /* Occupy full width of parent container */
}

.icons li {
  margin-right: 20px; /* Adjust spacing between icons */
}

.button {
  min-width: auto;
  padding: 25px; /* Increase padding for bigger circles */
  font-size: 1.2rem;
  position: relative; /* Ensure position relative for pseudo element */
  display: inline-block;
  text-align: center; /* Center text inside the button */
}

.button--sacnite {
  background-color: #000; /* Black background */
  border: none; /* Remove border */
  color: #fff; /* White text color */
  border-radius: 50%; /* Ensure the button is round */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px; /* Set fixed width for circle */
  height: 120px; /* Set fixed height for circle */
  position: relative; /* Ensure position relative for pseudo element */
  text-decoration: none; /* Remove underline */
  transition: all 0.3s ease; /* Smooth transition */
}

.button--sacnite:hover {
  background-color: #333; /* Darken background on hover */
  color: #fff; /* Adjust hover text color as needed */
}

.button--sacnite i {
  font-size: 3rem; /* Adjust icon size */
  line-height: 1; /* Ensure proper vertical alignment */
}

.button--sacnite span {
  display: block; /* Ensure text wraps properly */
  margin-top: 10px; /* Adjust spacing between icon and text */
}

