/* Import base styles */
@import "base";

/* Import button styles */
@import "button";

/* Import type styles */
@import "type";

/* Import dark styles */
@import "dark";

/* Import icons styles */
@import "icons";

/* General styles */
.header-right p {
  margin-bottom: 3px;
}

.header-right a {
  color: inherit;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .header-container div {
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

/* Profile image styles */
.profile-img {
  width: 200px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  margin: 20px auto 10px; /* Margin adjusted for positioning */
  display: block;
  border-radius: 50%; /* Ensure the image is round */
  background-size: cover;
  background-position: 50% 10%;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 20px #636161;
}

/* Icon bar at the top */
.header-container {
  padding: 20px 0;
  background-color: #000; /* Set black background */
  text-align: left; /* Align text and icons to the left */
}

.icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Ensure icons are aligned horizontally */
  align-items: center; /* Center icons vertically within the container */
  justify-content: flex-start; /* Align icons from left to right */
  width: 100%; /* Occupy full width of parent container */
}

.icons li {
  margin-right: 30px; /* Adjust spacing between icons */
}

.button {
  min-width: auto;
  padding: 25px; /* Increase padding for bigger circles */
  font-size: 1.2rem;
  position: relative; /* Ensure position relative for pseudo element */
}

.button--sacnite {
  background-color: transparent;
  border: 2px solid #333; /* Adjust border color as needed */
  color: #333; /* Adjust text color as needed */
  border-radius: 50%; /* Ensure the button is round */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Set fixed width for circle */
  height: 100px; /* Set fixed height for circle */
  position: relative; /* Ensure position relative for pseudo element */
}

.button--sacnite::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #000; /* Black background */
  z-index: -1;
}

.button--sacnite:hover {
  color: #fff; /* Adjust hover text color as needed */
}

.button--sacnite i {
  font-size: 2rem; /* Adjust icon size */
  line-height: 0;
}

